.blackb {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.orangeb {
    background-color: orange;
    padding: 70px;
    margin: 20px;
    /* margin: 0px 20px 0px 20px; */
}

.flex-x-container {
    background-color: #333;
    display: flex;
    /* flex-wrap: wrap; */
}

.flex-x-item {
    background-color: lightcoral;
    border: 2px solid yellow;
    height: 200px;
    width: 33.33%;
}

.unique {
    background-color: greenyellow;
    display: flex;
}

.inside {
    background-color: black;
    border: 1px solid blue;
    height: 200px;
    width: 33.33%;
}
