* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container div {
    border: 1px solid black;
    width: 25%;
    margin: 10px;
}

@media screen and (min-width: 375px){
    .flex-container {
        flex-direction: column;
    }

    .flex-container div {
        width: 100%;
    }
}

.blackb {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.orangeb {
    background-color: orange;
    padding: 70px;
    margin: 20px;
    /* margin: 0px 20px 0px 20px; */
}